@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content="keywords">
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        <title>@title</title>
        <link type="image/x-icon" rel="icon" href="@routes.Assets.at("images/pharbers.ico")"/>
        <link type="image/x-icon" rel="bookmark" href="@routes.Assets.at("images/pharbers.ico")"/>
        <link type="image/x-icon" rel="shortcut icon" href="@routes.Assets.at("images/pharbers.ico")"/>

        <!--css-->
        <link href="@routes.Assets.at("css/common.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/bootstrap/css/bootstrap-datetimepicker.min.css")" rel="stylesheet"/>
        <link href="@routes.Assets.at("css/bootstrap/css/bootstrap.css")" rel="stylesheet"/>
        <link href="@routes.Assets.at("css/Select2/select2.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/bootstrap/css/bootstrap-datetimepicker.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/style2.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/report.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/jQueryScrollBar/jquery.mCustomScrollbar.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/KendoUI/styles/kendo.common.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/KendoUI/styles/kendo.default.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/admin/bootstrap/fontawesome/css/font-awesome.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/admin/bootstrap/dist/css/AdminLTE.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/admin/bootstrap/dist/css/skins/_all-skins.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/admin/bootstrap/plugins/datatables/dataTables.bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/flavr/animate.css")" rel="stylesheet">
        <link href="@routes.Assets.at("css/flavr/flavr.css")" rel="stylesheet">
        <!--js-->
        <script src="@routes.Assets.at("js/jquery-1.9.1.min.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/plugins/fastclick/fastclick.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/dist/js/app.min.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/dist/js/demo.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/plugins/slimScroll/jquery.slimscroll.min.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/plugins/datatables/jquery.dataTables.min.js")"></script>
        <script src="@routes.Assets.at("css/admin/bootstrap/plugins/datatables/dataTables.bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/admin/loginLog.js")"></script>
        <script src="@routes.Assets.at("js/common.js")"></script>
        <script src="@routes.Assets.at("js/KendoUI/kendo.all.min.js")"></script>
        <script src="@routes.Assets.at("js/KendoUI/kendo.grid.js")"></script>
        <script src="@routes.Assets.at("js/admin/ModuleManage.js")"></script>
        <script src="@routes.Assets.at("js/admin/UserManage.js")"></script>
        <script src="@routes.Assets.at("js/gridData.js")"></script>
        <script src="@routes.Assets.at("js/report.js")"></script>
        <script src="@routes.Assets.at("js/home.js")"></script>
        <script src="@routes.Assets.at("js/html5media.min.js")"></script>
        <script src="@routes.Assets.at("js/jquery.easing.min.js")"></script>
        <script src="@routes.Assets.at("js/modernizr.min.js")"></script>
        <script src="@routes.Assets.at("js/flavr/flavr.min.js")"></script>
        <script src="@routes.Assets.at("js/lhgdialog/lhgdialog.min.js")"></script>
        <script src="@routes.Assets.at("js/jQueryScrollBar/jquery.mousewheel.min.js")"></script>
        <script src="@routes.Assets.at("js/jQueryScrollBar/jquery.mCustomScrollbar.js")"></script>
        <script src="@routes.Assets.at("js/jQueryUI1.10/jquery-ui-1.10.4.min.js")"></script>
        <script src="@routes.Assets.at("js/eachars3.0/echarts.js")"></script>
        <script src="@routes.Assets.at("js/eachars3.0/config.js")"></script>
        <script src="@routes.Assets.at("js/bootstrap/bootstrap-datetimepicker.min.js")"></script>
        <script src="@routes.Assets.at("js/locales/bootstrap-datetimepicker.zh-CN.js")"></script>
        <script src="@routes.Assets.at("js/Select2/select2.js")"></script>
        <script src="@routes.Assets.at("js/Select2/zh-CN.js")"></script>
    </head>
    <body>
    @content
    </body>
</html>
